


<!-- <div class="mainContainer">

    <mat-toolbar color="accent" class="ribbon">
        
        <img src="./../../assets/logo1.png" alt="">
        <span class="spacer"></span>
        <div>
            <h2>Welcome back, Muhammad Subhan Raza !</h2>
            <p>Your last login was 09/09/2021 5:34:54 PM GMT</p>
        </div>
        <span class="example-spacer"></span>
        <div>
            <p>TOTAL BALANCE</p>
            <mat-divider></mat-divider>
            <h1>250000 PKR</h1>
        </div>
        <span class="spacer"></span>
    </mat-toolbar>

    <div>
    
    </div>

</div> -->


<!-- ----------------------------- -->






<!-- <mat-grid-list cols="3" rowHeight="5:2" gutterSize="1rem">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile rowspan="3">3</mat-grid-tile>
    <mat-grid-tile colspan="2">4</mat-grid-tile>
    <mat-grid-tile>5</mat-grid-tile>
    <mat-grid-tile>6</mat-grid-tile>
</mat-grid-list> -->





<!-- ------------------- -->


<!-- 
<div class="cardsGroup">
    <div class="left">
        <div class="balanceCont">

        </div>
        <div class="shortIconsGroup">
        
        </div>
    </div>

    <div class="right">

    </div>
</div> -->


<div class="cardsGroup">
    <span class="max-spacer"></span>
    <div class="left">
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="" style="flex: 1 1 0%; box-sizing: border-box;">
                <div class="balanceIndicator amount">

                </div>
            </div>
            <div fxFlex="" style="flex: 1 1 0%; box-sizing: border-box;">
                <div class="balanceIndicator smallIcons">

                </div>  
            </div>
        </div>

        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="" style="flex: 1 1 0%; box-sizing: border-box;">
                <div class="balanceIndicator graph">
        
                </div>
            </div>
        </div>

        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="" style="flex: 1 1 0%; box-sizing: border-box;">
                <div class="balanceIndicator activity">
        
                </div>
            </div>
            <div fxFlex="" style="flex: 1 1 0%; box-sizing: border-box;">
                <div class="balanceIndicator spin">
            
                </div>
            </div>
        </div>
    </div>

    <div class="right">
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="" style="flex: 1 1 0%; box-sizing: border-box;">
                <div class="balanceIndicator requestBlock">
        
                </div>
            </div>
        </div>
    </div>
</div>










