

<div class="cardsGroup">
    <span class="max-spacer"></span>
    <div class="left">
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="" style="flex: 1 1 0%; box-sizing: border-box;">
                <div class="balanceIndicator amount">
                    <div class="mat-body-1">Available Balance</div>
                    <h2>250000 PKR</h2>
                    <br><br>
                    <div class="mat-caption">Savnig Account</div>
                    <div class="mat-body-2">ISB789-96321558745-11254-0024</div>
                </div>
            </div>
            <div fxFlex="" style="flex: 1 1 0%; box-sizing: border-box;">
                <div class="balanceIndicator smallIcons">
                    <button mat-stroked-button color="primary">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_circle_up</mat-icon>
                        <br>
                        Send Money
                    </button>
                    <button mat-stroked-button color="primary">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_circle_down</mat-icon>
                        <br>
                        Request Money
                    </button>
                    <button mat-stroked-button color="primary">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">dvr</mat-icon>
                        <br>
                        Transactions
                    </button>
                    <button mat-stroked-button color="primary">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">view_comfy</mat-icon>
                        <br>
                        Policies
                    </button>
                </div>  
            </div>
        </div>

        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="" style="flex: 1 1 0%; box-sizing: border-box;">
                <div class="balanceIndicator graph">
        
                </div>
            </div>
        </div>

        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="" style="flex: 1 1 0%; box-sizing: border-box;">
                <div class="balanceIndicator activity">
                    <div class="mat-body-2 activity-title">Saving Goals</div>
                    <button mat-icon-button>
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <br><br>
                    <!-- <table>
                        <tr>
                            <td>
                                <mat-spinner value="70" mode="determinate" color="accent"></mat-spinner>
                            </td>
                            <td>
                                <mat-spinner value="80" mode="determinate" color="accent"></mat-spinner>
                            </td>
                            <td>
                                <mat-spinner value="35" mode="determinate" color="accent"></mat-spinner>
                            </td>
                        </tr>
                    </table> -->

                    Buying a car | 40% <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                    <br>
                    Buying a home | 90% <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
                    <br>
                    Establish a buiness | 62% <mat-progress-bar mode="determinate" value="62"></mat-progress-bar>
                </div>
            </div>
            <div fxFlex="" style="flex: 1 1 0%; box-sizing: border-box;">
                <div class="balanceIndicator spin">
                    
                </div>
            </div>
        </div>
    </div>

    <div class="right">
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="" style="flex: 1 1 0%; box-sizing: border-box;">
                <div class="balanceIndicator requestBlock">
                    <table>
                        <tr>
                            <td rowspan="3">
                                <img src="./../../assets/person.jpg" alt="">
                            </td>
                            <td>
                                <h3>Muhammad Subhan Raza</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>msraza302@gmail.com</td>
                        </tr>
                        <tr>
                            <td>
                                <button mat-button>View Profile</button>
                            </td>
                        </tr>
                        
                    </table>
                    <div class="card-block">
                        <h3>Cards</h3>
                        <button class="seeAllBtn" mat-button>See All</button>   
                        <img src="./../../assets/card2.jpg" alt=""> 
                        <button class="getAllBtn" mat-raised-button>GET MORE CARDS</button>                    
                    </div>
                    <div class="upgrade-block">
                       <br>
                       <br>
                        <p>
                            <mat-icon class="upgrade-icon" aria-hidden="false" aria-label="Example home icon">double_arrow</mat-icon>Apply for
                            <span>Getfull control of your money</span>
                        </p>
                        <p>
                            <mat-icon class="upgrade-icon" aria-hidden="false" aria-label="Example home icon">double_arrow</mat-icon>Apply for
                            <span>Apply for Auto-Finace</span>
                        </p>
                    </div>
                    <button class="getAllBtn" mat-raised-button>GO FOR PRO</button>
                </div>
            </div>
        </div>
    </div>
</div>










