.mainContainer {
  display: flex;
}

.instructionContainer {
  width: 40%;
  padding-bottom: 40px;
}

.fieldIcons {
  background-color: rgb(255, 196, 67);
  padding: 5px;
  border-radius: 50%;
  color: white;
}

.spacer {
  padding-left: 20px;
}

.fieldsContainer {
  width: 50%;
  margin: auto;
}

.fieldsContainer mat-form-field {
  width: 90%;
  margin-left: 10px;
}

button {
  width: 45%;
  margin: 10px;
}

@media only screen and (max-width: 600px) {
  .fieldsContainer {
    width: 90%;
  }
  .mainContainer {
    display: block;
  }
  .instructionContainer {
    width: 90%;
  }
}

.custImageHolder {
  height: 150px;
  width: 150px;
  background-color: rgb(209, 209, 209);
}
.custImageHolder img {
  height: 150px;
  width: 150px;
}

.imageSection {
  text-align: right;
  width: 150px;
  margin: auto;
}

.instructionContainer h2 {
  color: rgb(138, 0, 230);
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 400;
  padding-top: 50px;
  padding-left: 30px;
}
.iconPoint {
  color: rgb(195, 0, 255);
  padding: 10px;
}
