

<div class="mainContainer">
    <div class="CustomerInfo">
        <div class="mat-caption">Search Employee</div>
        <mat-divider></mat-divider>
        <br>
        <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon">person</mat-icon>
        <span class="spacer"></span>
        <mat-form-field floatLabel="auto" color="primary" hideRequiredMarker>
            <mat-label>Occupation</mat-label>
            <input matInput required>
        </mat-form-field>
        <span class="spacer"></span>
        <button mat-raised-button color="primary">
            <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
        </button>
    </div>

    <div class="AddAccountContainer">

    </div>
</div>

