.mainContainer {
  display: flex;
}

.CustomerInfo {
  height: 400px;
  width: 30%;
  padding: 10px;
  box-sizing: border-box;
  /* box-shadow: gray 0px 5px 10px; */
  border-right: solid 1px gray;
}

.CustomerInfo mat-form-field {
  width: 100px;
}

.AddAccountContainer {
  padding-left: 30px;
  box-sizing: border-box;
}

.first,
.second {
  width: 45%;
  text-align: center;
}

.fieldIcons {
  background-color: rgb(255, 196, 67);
  padding: 5px;
  border-radius: 50%;
  color: white;
}

.spacer {
  padding-left: 20px;
}

table {
  text-align: left;
  width: 100%;
}

table td,
th {
  padding: 5px 0px;
}

.first mat-form-field {
  width: 80%;
}

.second mat-form-field {
  width: 80%;
}

form {
  display: flex;
}

.actionButtons {
  width: 40%;
  margin-left: 10px;
}
