.title {
  color: rgb(132, 0, 255);
  text-transform: uppercase;
  letter-spacing: 5px;
}

.active {
  width: 6px;
  height: 6px;
  padding: 4px;
  background-color: rgb(7, 230, 18);
}
.inactive {
  width: 6px;
  height: 6px;
  padding: 4px;
  background-color: red;
}
.mainContainer {
  width: 400px;
  padding: 15px;
}

table {
  text-align: left;
  margin-top: 20px;
}

table th,
td {
  padding: 5px;
}
