table {
  width: 100%;
}

/* .mainContainer {
  display: flex;
}

.tableView {
  width: 65%;
}

.detailView {
  width: 30%;
  box-shadow: rgb(148, 148, 148) 0px 0px 10px;
  position: fixed;
  height: 352px;
  right: 30px;
}

.spacer {
  padding: 0px 8px;
} */
