



<div class="mainContainer">
    <div class="tableView">
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            

            <ng-container matColumnDef="accStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
                <td mat-cell *matCellDef="let element"> 
                    <div class="circle-active" *ngIf="element.accStatus"></div>
                    <div class="circle-inactive" *ngIf="!element.accStatus"></div>
                </td>
            </ng-container>

            <ng-container matColumnDef="accNo">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Account NO # </th>
                <td mat-cell *matCellDef="let element"> {{element.accAccountCode}} </td>
            </ng-container>

            <ng-container matColumnDef="accCustomerId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer </th>
                <td mat-cell *matCellDef="let element"> {{element.accCustomer.custFirstName+" "+element.accCustomer.custLastName}} </td>
            </ng-container>

            <ng-container matColumnDef="accType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Account Type </th>
                <td mat-cell *matCellDef="let element"> {{element.accTypeNavigation.actypeName}} </td>
            </ng-container>

            <ng-container matColumnDef="accDateOfOpening">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Account Opened </th>
                <td mat-cell *matCellDef="let element"> {{element.accDateOfOpening}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button color="primary" (click)="detailRecord(element)">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">visibility</mat-icon>
                    </button>
                    <button mat-button color="primary" (click)="updateRecord(element)">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
                    </button>
                    <button mat-button color="warn" (click)="deleteRecord(element)">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                    </button>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

    </div>

</div>


