


<div>
    <div class="addRecord">
        <span>
            <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
        </span>
        <mat-form-field (keyup)="filterTable($event.target.value)" class="example-full-width">
            <mat-label>Filter</mat-label>
            <input matInput>
        </mat-form-field>
        <button mat-raised-button color="accent" (click)="openDialog()">
            <mat-icon aria-hidden="false" aria-label="Example home icon">add_circle</mat-icon>
            Add New Department
        </button>
    </div>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
    
            <!-- Position Column -->
            <ng-container matColumnDef="deptId">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.deptId}} </td>
            </ng-container>
    
            <!-- Name Column -->
            <ng-container matColumnDef="deptName">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Department Name </th>
                <td mat-cell *matCellDef="let element"> {{element.deptName}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element"> 
                    <button mat-button color="primary" (click)="updateRecord(element)">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
                    </button> 
                    <button mat-button color="warn" (click)="deleteRecord(element)">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                    </button>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
    </div>

</div>
