

<div class="mainContainer">
    <div class="hostContainer">
        <img src="./../../assets/logo2.png" alt="">
        <h1>
            ONLINE BANKING APP
        </h1>
        <h5>An Ultimate Banking Solution</h5>
        <h4>Select Login Mode</h4>
        <br>
        <button mat-button class="btnAdminLogin" (click)="onAdminClick()">
            <mat-icon aria-hidden="false" aria-label="Example home icon">admin_panel_settings</mat-icon>
            ADMIN
        </button>
        <br>
        <button mat-button class="btnCustomerLogin" (click)="onCustomerClick()">
            <mat-icon aria-hidden="false" aria-label="Example home icon">portrait</mat-icon>
            CONSUMER
        </button>
    </div>
</div>

