
<div class="mainContainer">
    <div class="indicator-sec">
        <div class="ind-block">
            <mat-icon aria-hidden="false" class="ind-icon" aria-label="Example home icon">home</mat-icon>
            <div class="ind-content">
                <button mat-button color="accent" matTooltip="View as List">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">segment</mat-icon>
                </button>
                <h4>5000</h4>
                <mat-divider></mat-divider>
                <p>Users</p>
            </div>
        </div>
        <div class="ind-block">
            <mat-icon aria-hidden="false" class="ind-icon" aria-label="Example home icon">home</mat-icon>
            <div class="ind-content">
                <button mat-button color="accent" matTooltip="View as List">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">segment</mat-icon>
                </button>
                <h4>5000</h4>
                <mat-divider></mat-divider>
                <p>Users</p>
            </div>
        </div>
        <div class="ind-block">
            <mat-icon aria-hidden="false" class="ind-icon" aria-label="Example home icon">home</mat-icon>
            <div class="ind-content">
                <button mat-button color="accent" matTooltip="View as List">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">segment</mat-icon>
                </button>
                <h4>5000</h4>
                <mat-divider></mat-divider>
                <p>Users</p>
            </div>
            <mat-divider></mat-divider>
        </div>
        <div class="ind-block">
            <mat-icon aria-hidden="false" class="ind-icon" aria-label="Example home icon">home</mat-icon>
            <div class="ind-content">
                <button mat-button color="accent" matTooltip="View as List">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">segment</mat-icon>
                </button>
                <h4>5000</h4>
                <mat-divider></mat-divider>
                <p>Users</p>
            </div>
        </div>
        <div class="ind-block">
            <mat-icon aria-hidden="false" class="ind-icon" aria-label="Example home icon">home</mat-icon>
            <div class="ind-content">
                <button mat-button color="accent" matTooltip="View as List">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">segment</mat-icon>
                </button>
                <h4>5000</h4>
                <mat-divider></mat-divider>
                <p>Users</p>
            </div>
        </div>
    </div>


    <div class="graph-sec">
        <div class="graph-inner">
            <div class="graph-left">
                <canvas id="canvas" class="leftCan">{{leftChart}}</canvas>
            </div>
            <div class="graph-right">
                <canvas id="pChart">{{pieChart}}</canvas>
            </div>
        </div>
        <div class="sec-content">
            <div style="padding-left: 20px;" class="mat-body-1">Newly Added Customers</div>
            <div class="list-customer">
                <div class="list-member">
                    <img src="./.../../../../../assets/person.jpg" alt="">
                    <table>
                        <tr>
                            <td>
                                <p class="list-cst-name">Muhammad Subhan Raza</p>
                                <p class="list-act-name">Saving Account</p>
                            </td>
                        </tr>
                    </table>
                    <button mat-button color="primary">
                        View
                        <mat-icon aria-hidden="false" aria-label="Example home icon">visibility</mat-icon>
                    </button>
                </div>
                <div class="list-member">
                    <img src="./.../../../../../assets/person.jpg" alt="">
                    <table>
                        <tr>
                            <td>
                                <p class="list-cst-name">Muhammad Subhan Raza</p>
                                <p class="list-act-name">Saving Account</p>
                            </td>
                        </tr>
                    </table>
                    <button mat-button color="primary">
                        View
                        <mat-icon aria-hidden="false" aria-label="Example home icon">visibility</mat-icon>
                    </button>
                </div>
                <div class="list-member">
                    <img src="./.../../../../../assets/person.jpg" alt="">
                    <table>
                        <tr>
                            <td>
                                <p class="list-cst-name">Muhammad Subhan Raza</p>
                                <p class="list-act-name">Saving Account</p>
                            </td>
                        </tr>
                    </table>
                    <button mat-button color="primary">
                        View
                        <mat-icon aria-hidden="false" aria-label="Example home icon">visibility</mat-icon>
                    </button>
                </div>
                <div class="list-member">
                    <img src="./.../../../../../assets/person.jpg" alt="">
                    <table>
                        <tr>
                            <td>
                                <p class="list-cst-name">Muhammad Subhan Raza</p>
                                <p class="list-act-name">Saving Account</p>
                            </td>
                        </tr>
                    </table>
                    <button mat-button color="primary">
                        View
                        <mat-icon aria-hidden="false" aria-label="Example home icon">visibility</mat-icon>
                    </button>
                </div>
                <div class="list-member">
                    <img src="./.../../../../../assets/person.jpg" alt="">
                    <table>
                        <tr>
                            <td>
                                <p class="list-cst-name">Muhammad Subhan Raza</p>
                                <p class="list-act-name">Saving Account</p>
                            </td>
                        </tr>
                    </table>
                    <button mat-button color="primary">
                        View
                        <mat-icon aria-hidden="false" aria-label="Example home icon">visibility</mat-icon>
                    </button>
                </div>
                <div class="list-member">
                    <img src="./.../../../../../assets/person.jpg" alt="">
                    <table>
                        <tr>
                            <td>
                                <p class="list-cst-name">Muhammad Subhan Raza</p>
                                <p class="list-act-name">Saving Account</p>
                            </td>
                        </tr>
                    </table>
                    <button mat-button color="primary">
                        View
                        <mat-icon aria-hidden="false" aria-label="Example home icon">visibility</mat-icon>
                    </button>
                </div>

            </div>

            <div class="spinner-sec">
                <table>
                    <tr>
                        <td>
                            <mat-spinner mode="determinate" value="70"></mat-spinner>
                            <p>Spinner One</p>
                        </td>
                        <td>
                            <mat-spinner mode="determinate" value="90"></mat-spinner>
                            <p>Spinner Two</p>
                        </td>
                        <td>
                            <mat-spinner mode="determinate" value="50"></mat-spinner>
                            <p>Spinner Three</p>
                        </td>
                        <td>
                            <mat-spinner mode="determinate" value="30"></mat-spinner>
                            <p>Spinner Four</p>
                        </td>
                        
                    </tr>
                </table>
            </div>
        </div>
    </div>


</div>


