.complainSection {
  width: 50%;
  margin: auto;
}

.complainSection mat-form-field {
  width: 100%;
  height: 300px;
}

.complainSection button {
  width: 100%;
}

h2 {
  background-color: rgb(219, 219, 219);
  padding: 10px;
}
