
<div class="mainContainer">

    <mat-accordion multi="true" hideToggle>
        <mat-expansion-panel *ngFor="let item of allCustTransactions">
            <mat-expansion-panel-header class="panelHeader">
                <mat-panel-title>
                    {{item.tranRecieverName}}
                </mat-panel-title>
                <mat-panel-description>
                    {{item.tranDate}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="panelBorder"></div>
            <table>
                <tr>
                    <td>
                        <h4>Date</h4>
                    </td>
                    <td>
                        <p>{{item.tranDate}} </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Amount Transffered</h4>
                    </td>
                    <td>
                        <p>{{item.tranAmountTransffered}} PKR</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Account No #</h4>
                    </td>
                    <td>
                        <p>{{item.tranAccountNoReciever}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>User Name</h4>
                    </td>
                    <td>
                        <p>{{item.tranRecieverName}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Description</h4>
                    </td>
                    <td>
                        <p>{{item.tranDescription}}</p>
                    </td>
                </tr>
                
            </table>
            <mat-action-row>
                <button mat-raised-button>
                    <mat-icon aria-hidden="false" aria-label="Example home icon">print</mat-icon>
                </button>
            </mat-action-row>
        </mat-expansion-panel>
    
        

    </mat-accordion>

</div>
