

<div class="loaderContainer" *ngIf="spinnerStatus">
    <div class="loaderSpin">
        <mat-spinner color="accent" class=""></mat-spinner>
        <h5>loading...</h5>
    </div>
</div>


<mat-sidenav-container class="myNav">

    <mat-sidenav class="navArea" mode="push" #sideNav>
        <div class="sidenavheader">
            <img src="./../assets/person.jpg" alt="">
            <div>
                <br>
                <div class="mat-body-1">Muhammad Subhan Raza</div>
                <div class="mat-caption">Saving Account</div>
            </div>
        </div>
        <div>
            <br>
            <button class="navButtons" mat-button (click)="sideNav.toggle()" routerLink="departments">
                <mat-icon aria-hidden="false" aria-label="Example home icon">apps</mat-icon>
                <span class="btnSpacer"></span>Departments
            </button>
            <button class="navButtons" (click)="sideNav.toggle()" mat-button routerLink="employees">
                <mat-icon aria-hidden="false" aria-label="Example home icon">person</mat-icon>
                <span class="btnSpacer"></span>Employees
            </button>
            <button class="navButtons" (click)="sideNav.toggle()" mat-button routerLink="customers">
                <mat-icon aria-hidden="false" aria-label="Example home icon">groups</mat-icon>
                <span class="btnSpacer"></span>Customers
            </button>
            <button class="navButtons" (click)="sideNav.toggle()" mat-button routerLink="transaction">
                <mat-icon aria-hidden="false" aria-label="Example home icon">list</mat-icon>
                <span class="btnSpacer"></span>transactions
            </button>
            <button class="navButtons" (click)="sideNav.toggle()" mat-button routerLink="branch">
                <mat-icon aria-hidden="false" aria-label="Example home icon">apartment</mat-icon>
                <span class="btnSpacer"></span>Branch
            </button>
            <button class="navButtons" (click)="sideNav.toggle()" mat-button routerLink="loanapplication">
                <mat-icon aria-hidden="false" aria-label="Example home icon">payments</mat-icon>
                <span class="btnSpacer"></span>Loan
            </button>
            <button class="navButtons" (click)="sideNav.toggle()" mat-button routerLink="bankaccount">
                <mat-icon aria-hidden="false" aria-label="Example home icon">money</mat-icon>
                <span class="btnSpacer"></span>Accounts
            </button>
            <button class="navButtons" (click)="sideNav.toggle()" mat-button routerLink="customerdashboard">
                <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                <span class="btnSpacer"></span>Dashboard
            </button>
            <button class="navButtons" (click)="sideNav.toggle()" mat-button routerLink="empsettings">
                <mat-icon aria-hidden="false" aria-label="Example home icon">settings</mat-icon>
                <span class="btnSpacer"></span>Setting
            </button>
            <button class="navButtons" (click)="sideNav.toggle()" mat-button routerLink="CustSettingsComponent">
                <mat-icon aria-hidden="false" aria-label="Example home icon">settings</mat-icon>
                <span class="btnSpacer"></span>Setting
            </button>


        </div>
    </mat-sidenav>







    <mat-sidenav-content class="navContentArea">




        <mat-toolbar color="primary">
            <img class="imgLogo" src="./../assets/logo2.png" alt="">
            <div>
                <h3 class="mat-body-2">ONLINE BANKING APP</h3>
                <div class="mat-caption appSubTitle">An Ultimate Banking Solution </div>
            </div>
            <span class="example-spacer"></span>
            <div class="notificationArea">

                <button mat-icon-button color="accent">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">email</mat-icon>
                </button>
                <span matBadge="5" matBadgePosition="above after">
                </span>
                <button mat-icon-button color="accent">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">report</mat-icon>
                </button>
                <span matBadge="5" matBadgePosition="above after">
                </span>
                <button mat-icon-button color="accent">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">notifications</mat-icon>
                </button>
                <span matBadge="5" class="badgeIndicator" matBadgePosition="above after">
                </span>
            </div>
        </mat-toolbar>






        <mat-toolbar class="navBtnBar">
            <button mat-button color="primary" (click)="sideNav.toggle()">
                <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
            </button>
            <span class="example-spacer"></span>
            <div class="mat-subheading-1 userName">Muhammad Subhan Raza</div>
        </mat-toolbar>


        <div class="appication-content">
            <router-outlet></router-outlet>

        </div>
        <app-footer></app-footer>

    </mat-sidenav-content>
</mat-sidenav-container>



<!-- <app-login></app-login> -->

