.mainContainer {
  background-color: rgb(226, 226, 226);
  height: 100%;
}

.loginForm {
  /* background-color: rgb(224, 224, 224); */
  height: 400px;
  width: 400px;
  margin: auto;
  text-align: center;
}

.loginForm mat-form-field {
  width: 100%;
}
.btnLogin {
  width: 100%;
  font-size: 1rem;
  border-radius: 0px;
  padding: 5px;
  background-color: rgb(105, 0, 204);
  color: white;
}

.loginForm img {
  width: 40px;
  margin-top: 40px;
}
.loginForm table {
  margin: auto;
}
.loginForm table h3 {
  padding-top: 20px;
  font-weight: 500;
  letter-spacing: 2px;
}
.loginForm p {
  margin: 0;
  padding: 0;
  color: rgb(112, 112, 112);
}

.loginForm a {
  text-decoration: none;
  color: blue;
}

.verticalSpacer {
  display: block;
  padding: 20px 0px;
}

.errorNotification {
  background-color: rgb(184, 0, 0);
  color: white;
  /* padding: 10px; */
  width: 20%;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);
}

.iconError {
  padding-top: 10px;
}
