
<div class="mainContainer">
    <div class="loginForm animate__animated animate__backInLeft">
        <!-- <mat-icon class="headIcon" aria-hidden="false" aria-label="Example home icon">fingerprint</mat-icon> -->
        <img src="./../../assets/logo2.png" alt="">
        <br><br>
        <h2>Welcome back !</h2>
        <p>Stay Connected with us to get maximum in the global banking</p>
        <!-- <p>Everything is on your fingertips</p> -->
        <br>
        <mat-form-field appearance="fill" floatLabel="auto" color="primary" hideRequiredMarker>
            <mat-label>User Name</mat-label>
            <input matInput [(ngModel)]="cstUserName">
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="auto" color="warn" hideRequiredMarker >
            <mat-label>Password</mat-label>
            <input type="password" matInput [(ngModel)]="cstPassword">
        </mat-form-field>
        <button class="btnLogin" mat-button (click)="login()">
            Sign In
            <mat-icon aria-hidden="false" aria-label="Example home icon">login</mat-icon>
        </button>
        <br><br>
        <mat-checkbox color="accent">Remember me</mat-checkbox>
        <span class="verticalSpacer"></span>
        <a href="#">Forgot Password ?</a>
        <br><br>
        <span>Any Problem <a href="#">Click here</a></span> 
    </div>

    <div class="errorNotification" [hidden]="!invalidLogin">
        <p>
            <mat-icon class="iconError" aria-hidden="false" aria-label="Example home icon">error</mat-icon>
            Email or Password Invalid !
        </p>
    </div>
</div>

