<div class="empStepperContainer">
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <mat-horizontal-stepper linear>
            
            <mat-step label="Personal Information">
                <br /><br />
                <div class="empStepper">
                    <div class="first">
                        
                        <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon">person
                        </mat-icon>
                        <mat-form-field floatLabel="auto" color="primary" hideRequiredMarker>
                            <mat-label> First Name </mat-label>
                            <input matInput required type="text" formControlName="txtFirstName" [(ngModel)]="employeeObj.empFirstName"/>
                        </mat-form-field>
                        <br /><br />
                        <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon">person
                        </mat-icon>
                        <mat-form-field floatLabel="auto" color="primary" hideRequiredMarker>
                            <mat-label>Last Name</mat-label>
                            <input matInput required type="text" formControlName="txtLastName" [(ngModel)]="employeeObj.empLastName"/>
                        </mat-form-field>
                        <br /><br />

                        <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon">phone</mat-icon>
                        <mat-form-field floatLabel="auto" color="primary" hideRequiredMarker>
                            <mat-label>Contact</mat-label>
                            <input matInput required formControlName="txtPhone" [(ngModel)]="employeeObj.empContact"/>
                        </mat-form-field>
                    </div>
                    <mat-divider [vertical]="true"></mat-divider>
                    <span class="spacer"></span>
                    <div class="second">
                        <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon">email</mat-icon>
                        <mat-form-field floatLabel="auto" color="primary" hideRequiredMarker>
                            <mat-label>Email</mat-label>
                            <input matInput required type="email" formControlName="txtEmail" [(ngModel)]="employeeObj.empEmail"/>
                        </mat-form-field>

                        <br /><br />
                        <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon">event</mat-icon>
                        <mat-form-field>
                            <mat-label>Date Of Birth</mat-label>
                            <input matInput [matDatepicker]="myDatePicker" formControlName="txtDob" [(ngModel)]="employeeObj.empDateOfBirth"/>
                            <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #myDatePicker></mat-datepicker>
                        </mat-form-field>

                        <br /><br />
                        <mat-radio-group formControlName="rdbGender" [(ngModel)]="employeeObj.empGender">
                            <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon">wc
                            </mat-icon>
                            <span class="spacer"></span>
                            <mat-radio-button color="primary" [value]="gender.male">Male</mat-radio-button>
                            <span class="spacer"></span>
                            <mat-radio-button color="primary" [value]="gender.female">Female</mat-radio-button>
                        </mat-radio-group>

                        <br />
                        
                    </div>
                
                    <button mat-button matStepperNext type="button">
                        Next
                        <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_forward</mat-icon>
                    </button>
                </div>
            </mat-step>
            <mat-step label="Proffessional Information">
                <br /><br />
                <div class="empStepper">
                    <button mat-button matStepperPrevious>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_back</mat-icon>
                        Back
                    </button>
                    <div class="first">
                        <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon">school
                        </mat-icon>
                        <mat-form-field floatLabel="auto" color="primary" hideRequiredMarker>
                            <mat-label>Qualification</mat-label>
                            <input matInput required type="text" formControlName="txtQualification" [(ngModel)]="employeeObj.empQualification"/>
                        </mat-form-field>
                        <br /><br />
                        <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon">grid_view
                        </mat-icon>
                        <mat-form-field>
                            <mat-label>Department</mat-label>
                            <mat-select formControlName="ddlDepartment" [(ngModel)]="employeeObj.empDepartment">
                                <mat-option value="0">-- Select --</mat-option>
                                <mat-option *ngFor="let dept of departmentsList" [value]="dept.deptId">{{dept.deptName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <br /><br />
                        <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon">attach_money
                        </mat-icon>
                        <mat-form-field floatLabel="auto" color="primary" hideRequiredMarker>
                            <mat-label>Salary</mat-label>
                            <input matInput required formControlName="txtSalary" [(ngModel)]="employeeObj.empSalary"/>
                        </mat-form-field>
                    </div>
                    <mat-divider [vertical]="true"></mat-divider>
                    <span class="spacer"></span>
                    <div class="second">
                        <img [src]="photoFilePath" alt="Emp Info">
                        <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon">image</mat-icon>
                        <span class="spacer"></span>
                        <input type="file" formControlName="txtImageName" (change)="uploadPhoto($event)"/>
                        
                    </div>
                    <button mat-button matStepperNext type="button">
                        Next
                        <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_forward</mat-icon>
                    </button>
                </div>
            </mat-step>
            <mat-step label="Account Information">
                <div class="empStepper">
                    <button mat-button matStepperPrevious>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_back</mat-icon>
                        Back
                    </button>
                    <div class="second">
                        <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon">person
                        </mat-icon>
                        <mat-form-field floatLabel="auto" color="primary" hideRequiredMarker>
                            <mat-label>User Name</mat-label>
                            <input matInput required formControlName="txtUserName" [value]="username" disabled [(ngModel)]="employeeObj.empUserName"/>
                        </mat-form-field>
                        <br /><br />
                        <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon">password
                        </mat-icon>
                        <mat-form-field floatLabel="auto" color="primary" hideRequiredMarker>
                            <mat-label>Password</mat-label>
                            <input matInput required formControlName="txtPassword" [value]="password" disabled [(ngModel)]="employeeObj.empPassword"/>
                        </mat-form-field>
                        <br>
                        <button mat-stroked-button (click)="genrateAccountDetails()" type="button">Generate Account Details</button>
                        <br /><br />
                        <button mat-raised-button color="accent" (click)="onReset()">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">cancel</mat-icon>
                            Cancel
                        </button>
                        <button mat-raised-button color="primary" type="submit">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">save</mat-icon>
                            Save
                        </button>
                    </div>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
        </form>

</div>
