<div class="mat-subheading-2">Transactions</div>

<button mat-stroked-button color="primary" routerLink="view">
    <mat-icon aria-hidden="false" aria-label="Example home icon">visibility</mat-icon>
    View All Transactions
</button>
<button mat-stroked-button color="primary" routerLink="make">
    <mat-icon aria-hidden="false" aria-label="Example home icon">double_arrow</mat-icon>
    Make transaction
</button>
<button mat-stroked-button color="primary" routerLink="print">
    <mat-icon aria-hidden="false" aria-label="Example home icon">print</mat-icon>
    Print Monthly Transactions
</button>

<br><br>



<router-outlet></router-outlet>

