
<div class="mainContainer">

    <mat-accordion multi="true" hideToggle>
        <mat-expansion-panel>
            <mat-expansion-panel-header class="panelHeader">
                <mat-panel-title>
                    ISB-7894651379-78945-10065
                </mat-panel-title>
                <mat-panel-description>
                    Monday 22 April 2021
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="panelBorder"></div>
            <table>
                <tr>
                    <td>
                        <h4>Date</h4>
                    </td>
                    <td>
                        <p>Monday 22 April 2021 02:45:36 PM </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Amount Transferred</h4>
                    </td>
                    <td>
                        <p>250000 .PKR</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Account No #</h4>
                    </td>
                    <td>
                        <p>ISB-7894651379-78945-10065</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>User Name</h4>
                    </td>
                    <td>
                        <p>Hunain Asim Siddiqui</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Description</h4>
                    </td>
                    <td>
                        <p>The amount is mentioned her for checking</p>
                    </td>
                </tr>
                
            </table>
            <mat-action-row>
                <button mat-raised-button>
                    <mat-icon aria-hidden="false" aria-label="Example home icon">print</mat-icon>
                </button>
            </mat-action-row>
        </mat-expansion-panel>
    
        

    </mat-accordion>

</div>
