
<div class="dialogHeader">
    <h3 mat-dialog-title>
        <mat-icon aria-hidden="false" aria-label="Example home icon">apps</mat-icon>
        DELETE DEPARTMENT
    </h3>
</div>
<div>
    <form >
        <mat-dialog-content>
            <br>
            <p>Do you really want to delete this record ?</p>
            <h1>{{DepartmentName}}</h1>
            <button mat-button color="warn" mat-dialog-close>
                <mat-icon aria-hidden="false" aria-label="Example home icon">cancel</mat-icon>
                Close
            </button>
            <span class="spacer"></span>
            <button mat-button color="primary" (click)="onSubmit()" mat-dialog-close>
                <mat-icon aria-hidden="false" aria-label="Example home icon">delete_forever</mat-icon>
                Delete
            </button>
        </mat-dialog-content>
    </form>
</div>