
<mat-dialog-content>
    <div class="mainContainer">

        <img [src]="imageUrl" alt="">
        <h2>{{customerRecord.custFirstName+" "+customerRecord.custLastName}}</h2>
        <p>{{customerRecord.custAddress}}</p>
        <br>
        <h5>{{customerRecord.custEmail}}</h5>
        <h5>{{customerRecord.custContact}}</h5>
        <br>
        <p><b>Do you really want to delete this record ?</b></p>
        <br><br>
        <button mat-button color="warn" mat-dialog-close>
            <mat-icon aria-hidden="false" aria-label="Example home icon">cancel</mat-icon>
            Close
        </button>
        <span class="spacer"></span>
        <button mat-button color="primary" (click)="onSubmit()" mat-dialog-close>
            <mat-icon aria-hidden="false" aria-label="Example home icon">delete_forever</mat-icon>
            Delete
        </button>
    </div>
</mat-dialog-content>

