
<div>
    <div class="addRecord">
        <span>
            <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
        </span>
        <mat-form-field (keyup)="filterTable($event.target.value)" class="example-full-width">
            <mat-label>Filter</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="empId">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let element"> {{element.empId}} </td>
            </ng-container>
            <ng-container matColumnDef="empImage">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> <img class="tableUserImage" [src]="imagePath+element.empImagePath" alt=""> </td>
            </ng-container>

            <ng-container matColumnDef="empFirstName">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element"> {{element.empFirstName+" "+element.empLastName}} </td>
            </ng-container>

            <ng-container matColumnDef="empGender">
                <th mat-header-cell *matHeaderCellDef> Gender </th>
                <td mat-cell *matCellDef="let element"> {{element.Gender?'Female':'Male'}} </td>
            </ng-container>
            
            <ng-container matColumnDef="empContact">
                <th mat-header-cell *matHeaderCellDef> Contact </th>
                <td mat-cell *matCellDef="let element"> {{element.empContact}} </td>
            </ng-container>

            <ng-container matColumnDef="empEmail">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.empEmail}} </td>
            </ng-container>

            <ng-container matColumnDef="empDepartment">
                <th mat-header-cell *matHeaderCellDef> Department </th>
                <td mat-cell *matCellDef="let element"> {{element.empDepartmentNavigation.deptName}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button color="primary" (click)="detailRecord(element)">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">visibility</mat-icon>
                    </button>
                    <button mat-button color="primary" (click)="updateRecord(element)">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
                    </button>
                    <button mat-button color="warn" (click)="deleteRecord(element)">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

</div>