

<div class="mainContainer">
    <div class="innerContainer">
        <div class="block">
            <span class="iconContainer">
                <mat-icon class="mainIcon" aria-hidden="false" aria-label="Example home icon">paid</mat-icon>
            </span>
            <h1>Total Capital</h1>
            <p>The Balance invested by Organization</p>
            <h3>4,000,000 PKR</h3>
        </div>
        <span class="spacer"></span>
        <div class="block">
            <span class="iconContainer">
                <mat-icon class="mainIcon" aria-hidden="false" aria-label="Example home icon">groups</mat-icon>
            </span>
            <h1>Total Liablity</h1>
            <p>The Balance invested by Customers</p>
            <h3>85,000,000 PKR</h3>
        </div>
        <span class="spacer"></span>
        <div class="block">
            <span class="iconContainer">
                <mat-icon class="mainIcon" aria-hidden="false" aria-label="Example home icon">account_balance</mat-icon>
            </span>
            <h1>Central Bank Reservation</h1>
            <p>The Balance reserved at Central Bank</p>
            <h3>14,000,000 PKR</h3>
        </div>
    </div>
</div>
