<div>
    <h2 mat-dialog-title>ADD / EDIT DEPARTMENT</h2>
    <form [formGroup]="departmentForm" (ngSubmit)="onSubmit()">
        <mat-dialog-content>
            <mat-form-field floatLabel="auto" color="primary" hideRequiredMarker appearance="outline">
                <mat-label>Department Name</mat-label>
                <input formControlName="txtDepartmentName" [(ngModel)]="departmentName" matInput required>
                <mat-hint align="end">Min 5 Character</mat-hint>
            </mat-form-field>
            <button mat-stroked-button color="warn" mat-dialog-close>Close</button>
            <button mat-stroked-button color="primary" mat-dialog-close type="submit">Add</button>
        </mat-dialog-content>
    </form>
</div>

<!-- formControlName="txtDepartmentName" -->
<!-- value="{{department.deptName}}" -->
<!-- [formGroup]="departmentForm" (ngSubmit)="onSubmit()" -->
<!-- type="submit" -->
<!-- value="{{departmentName}}" -->