

<div class="mainContainer">

    <mat-horizontal-stepper linear>
        <mat-step label="Reciever | Amount Information" completed="true">
            
            <form>
                <mat-form-field style="width: 55%;">
                    <mat-label>Reciever Account No #</mat-label>
                    <input matInput value="ISB789-78945621345-7894-" disabled>
                </mat-form-field>
                <span class="spacer"></span>
                <mat-form-field style="width: 20%;">
                    <mat-label>Last Digits of Account No #</mat-label>
                    <input matInput>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Amount to Transfer</mat-label>
                    <input matInput>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <input matInput>
                </mat-form-field>
                
            </form>
            <br>
            <button mat-button matStepperNext>
                Next
                <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_forward</mat-icon>
            </button>
        </mat-step>
       
        <mat-step label="Confirmation">
            <mat-form-field>
                <mat-label>Current Password</mat-label>
                <input matInput>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Confirm Password</mat-label>
                <input matInput>
            </mat-form-field>
            <br><br>
            <button mat-raised-button color="accent">Cancel
                <mat-icon aria-hidden="false" aria-label="Example home icon">cancel</mat-icon>
            </button>
            <span class="spacer"></span>
            <button mat-raised-button color="warn">Tarnsfer
                <mat-icon aria-hidden="false" aria-label="Example home icon">send</mat-icon>
            </button>
            <br><br>
            <button mat-button matStepperPrevious>
                Back
                <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_back</mat-icon>
            </button>
        </mat-step>
    </mat-horizontal-stepper>

</div>
