<form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
<div class="empStepper">
        <div class="first">
            <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon">person</mat-icon>
            <mat-form-field floatLabel="auto" color="primary" hideRequiredMarker>
                <mat-label>
                    First Name
                </mat-label>
                <input matInput required formControlName="txtFirstName" [(ngModel)]="custObj.custFirstName">
            </mat-form-field>

            <br>

            <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon">person</mat-icon>
            <mat-form-field floatLabel="auto" color="primary" hideRequiredMarker>
                <mat-label>Last Name</mat-label>
                <input matInput required formControlName="txtLastName" [(ngModel)]="custObj.custLastName">
            </mat-form-field>

            <br>

            <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon">home</mat-icon>
            <mat-form-field floatLabel="auto" color="primary" hideRequiredMarker>
                <mat-label>Address</mat-label>
                <input matInput required formControlName="txtAddress" [(ngModel)]="custObj.custAddress">
            </mat-form-field>

            <br>

            <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon">phone</mat-icon>
            <mat-form-field floatLabel="auto" color="primary" hideRequiredMarker>
                <mat-label>Contact</mat-label>
                <input matInput required formControlName="txtContact" [(ngModel)]="custObj.custContact">
            </mat-form-field>

            <br>

            <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon">email</mat-icon>
            <mat-form-field floatLabel="auto" color="primary" hideRequiredMarker>
                <mat-label>Email</mat-label>
                <input matInput required formControlName="txtEmail" [(ngModel)]="custObj.custEmail">
            </mat-form-field>

            <br>



            <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon">fingerprint</mat-icon>
            <mat-form-field floatLabel="auto" color="primary" hideRequiredMarker>
                <mat-label>NIC</mat-label>
                <input matInput required formControlName="txtCNIC" [(ngModel)]="custObj.custNic">
            </mat-form-field>

            <br>

            <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon">engineering</mat-icon>
            <mat-form-field floatLabel="auto" color="primary" hideRequiredMarker>
                <mat-label>Occupation</mat-label>
                <input matInput required formControlName="txtOccupation" [(ngModel)]="custObj.custOccupation">
            </mat-form-field>


        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <span class="spacer"></span>

        <div class="second">
            <div class="imageSection">
                <div class="custImageHolder">
                    <img *ngIf="imageStatus" [src]="photoFilePath" alt="CustomerImage">
                </div>
                <input type="file" (change)="uploadPhoto($event)" formControlName="txtImageName">

                <br>
            </div>
            <br>


            <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon">location_city</mat-icon>
            <mat-form-field>
                <mat-label>City</mat-label>
                <mat-select formControlName="ddlCity" [(ngModel)]="custObj.custCity">
                    <mat-option value="0">-- Select --</mat-option>
                    <mat-option *ngFor="let city of citiesList" [value]="city.cityId">{{city.cityName}}</mat-option>
                </mat-select>
            </mat-form-field>


            <br>


            <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon">event</mat-icon>
            <mat-form-field>
                <mat-label>Date Of Birth</mat-label>
                <input matInput [matDatepicker]="myDatePicker" formControlName="txtDob" [(ngModel)]="custObj.custDob">
                <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #myDatePicker></mat-datepicker>
            </mat-form-field>

            <br>
            <mat-radio-group formControlName="rdbGender" [(ngModel)]="custObj.custGender">
                <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon">wc</mat-icon>
                <span class="spacer"></span>
                <mat-radio-button color="primary" [value]="gender.male">Male</mat-radio-button>
                <span class="spacer"></span>
                <mat-radio-button color="primary" [value]="gender.female">Female</mat-radio-button>
            </mat-radio-group>

            <br><br>
            <button mat-raised-button color="accent">
                <mat-icon aria-hidden="false" aria-label="Example home icon">cancel</mat-icon>
                Cancel
            </button>
            <button mat-raised-button color="primary">
                <mat-icon aria-hidden="false" aria-label="Example home icon">save</mat-icon>
                Save
            </button>

        </div>
</div>
</form>