
<footer>
    <div class="footer-content">
        <h5>&#169; {{currentYear}} Copyright <strong>Onlinebankingapp.org</strong></h5>
        <span class="example-spacer"></span>
        <h6>Developed by : Muhammad Subhan Raza | Moiz Madni | Zeeshan Imran</h6>
        <div>
            <button mat-icon-button aria-label="Example icon button with a home icon">
                <mat-icon>facebook</mat-icon>
            </button>
            <button mat-icon-button aria-label="Example icon button with a home icon">
                <mat-icon>public</mat-icon>
            </button>
            <button mat-icon-button aria-label="Example icon button with a home icon">
                <mat-icon>place</mat-icon>
            </button>
        </div>
        
    </div>
</footer>